.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-ad {
  /*background-image: url(../images/flags/4x3/ad.svg);*/
}
.flag-icon-ad.flag-icon-squared {
  /*background-image: url(../images/flags/1x1/ad.svg);*/
}
.flag-icon-ae {
  /*background-image: url(../images/flags/4x3/ae.svg);*/
}
.flag-icon-ae.flag-icon-squared {
  /*background-image: url(../images/flags/1x1/ae.svg);*/
}
.flag-icon-af {
  /*background-image: url(../images/flags/4x3/af.svg);*/
}
.flag-icon-af.flag-icon-squared {
  /*background-image: url(../images/flags/1x1/af.svg);*/
}
.flag-icon-ag {
  /*background-image: url(../images/flags/4x3/ag.svg);*/
}
.flag-icon-ag.flag-icon-squared {
  /*background-image: url(../images/flags/1x1/ag.svg);*/
}
.flag-icon-ai {
  /*background-image: url(../images/flags/4x3/ai.svg);*/
}
.flag-icon-ai.flag-icon-squared {
  /*background-image: url(../images/flags/1x1/ai.svg);*/
}
.flag-icon-al {
  /*background-image: url(../images/flags/4x3/al.svg);*/
}
.flag-icon-al.flag-icon-squared {
  /*background-image: url(../images/flags/1x1/al.svg);*/
}
.flag-icon-am {
  /*background-image: url(../images/flags/4x3/am.svg);*/
}
.flag-icon-am.flag-icon-squared {
  /*background-image: url(../images/flags/1x1/am.svg);*/
}
